<h1>New User</h1>
<form action="<%= users_url %>" method="post">
  <%= token_tag form_authenticity_token %>

  <label>Username
  <input type="text" name="user[username]">
  </label><br>

  <label>Password
  <input type="password" name="user[password]">
  </label><br>

  <input type="submit" name="some_name" value="Create User">

</form>
