<% if @user == current_user %>
	<h1>Hi <%= @user.user_name %>!</h1>
  	<% user_session_tokens.each do |token| %>
   	 <h4> You are currently logged in on: <%= token.environment %> </h4>
   	 	<%= button_to "Log Out.", action="/session/destroy/#{token.id}" %>
  	<% end %>
<% else %>
	<h1> <%= @user.user_name %></h1>
<% end %>