<label for="username">Username:</label><br>
<input type="text" id="username" name="user[username]">
<br>
<label for="password">Password:</label><br>
<input type="password" id="password" name="user[password]">
<br>
<button class="new-user">Create User!</button>
