/* PHASE 5: Cats */
section.content-header {
  background-image: url(../../shared/img/cats.jpg);
  height: 200px;
  background-repeat: no-repeat;
  background-size: 100%;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  position: relative;
}

.content-header h1 {
  position: absolute;
  left: 240px;
  bottom: 15px;
  color: white;
  font-size: 36px;
  font-weight: 300;
  text-shadow: 0 0 10px #ccc;
}

.content-header button {
  position: absolute;
  right: 15px;
  bottom: 15px;
  border: 1px solid #000;
  background-color: #fff;
  border-radius: 5px;
  padding: 10px 20px;
  font-weight: bold;
}

.content-header button:hover {
  background: #eee;
}
