<%= render "shared/templates" %>

<div id='pokedex'>
  <div class='pokemon-index'>

  <ul class='pokemon-list'></ul>
  </div>

  <div class='pokemon-detail'>
	</div>

  <div class='toy-detail'>
  </div>

</div>
