<form action="<%= comments_url %>" method="post">
  <%= token_tag form_authenticity_token %>
  <label>
    <% if commentable.is_a?(User) %>
      Leave a note:
    <% else %>
      Comment on this goal:
    <% end %>

  <input type="hidden" name="comment[commentable_id]" value="<%= commentable.id %>">
  <input type="hidden" name="comment[commentable_type]" value="<%= commentable.class.name %>">

  <input type="textarea" name="comment[body]"></label>
  <input type="submit" value="Submit">
</form>
